* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header img {
    max-width: 100%;
    width: 100px;
}

.App {
    max-width: 1120px;
    margin: 0 auto;
}

.task-props {
    display: flex;
    flex-direction: column;
}

.task-props > *:nth-child(2n + 1) {
    background-color: rgb(213, 213, 213);
}

.task-props > *:nth-child(2n) {
    background-color: rgb(189, 188, 188);
}

.nav {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.card img {
    max-width: 100%;
}

.footer small {
    font-size: 1rem;
}

.alert {
    padding: 8px 12px;
}

.stars img {
    width: 30px;
}

.nav-2 {
    display: flex;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}